<p>
  <img src="<%= @user.provider_image_url %>" alt="" width="" height="" border="" align="" />
  <%= @user.provider_name %>さんのマイページ
</p>
<br/>
<p>

<%= @user.provider_name %>さんのプロジェクト一覧
<% i=0 %>
<table class="table_pj">
	<% @projects.each do |project| %> 
		<tr>
			<td>
			  <b>プロジェクト名:</b>
			  <%= project.name %>
			</td>		
			<td>
			  <b>開始日:</b>
			  <%= project.create_at.strftime("%m/%d") %>
			</td>		
		</tr>
		<tr col=1>
			<td colspan=2>		
				<% n=0 %>
				<% @ischecks[i].each do |ischeck| %>
					<% day = project.create_at+n*24*60*60 %>
					<% if ischeck %>
						<a href="<%= getCheckOutUrl(n+1,project.id) %>"><%= day.day %>○</a>
					<% else %>
						<a href="<%= getCheckUrl(n+1,project.id) %>"><%= day.day %>&emsp;</a>
					<% end %>
					<% n+=1 %>
				<% end %>
				<% i+=1 %>
			</td>		
		</tr>
	<% end %>
</table>
</p>
