<%= form_tag({:controller=>"projects",:action=>"confirm"}, :onsubmit=>"return Validator.submit(this)") do %>
  <div class="field">
	習慣名<br />
	<%= text_field :project, :name, :onblur=>"Validator.check(this)" %>
  </div>
  <div class="field">
	メールアドレス<br />
	<%= text_field :project, :email, :onblur=>"Validator.check(this, 'mail')" %>
  </div>
  <div class="field">
	継続日数 <br />
	<%= number_field :project, :continuous_days, :onblur=>"Validator.check(this, 'num1-12')", :value => 3 %>週間
  </div>
  <div class="field">
	達成基準 <br />
	<%= select :project, :percent, {'100%' => 1.0, '90%' => 0.9, '80%' => 0.8 }, {:selected => 1} %>
  </div>
  <div class="field">
	ご褒美機能 <br />
	<%= select :project, :isbonus, {'on' => 1, 'off' => 0}, {:selected => 1} %>
  </div>
  <div class="actions">
    <%= button_to('登録', 'entry' ) %>
  </div>
<% end %>
