<p>
  <b>User:</b>
  <img src="<%= @user.provider_image_url %>" alt="" width="" height="" border="" align="" />
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Email:</b>
  <%= @project.email %>
</p>

<p>
  <b>Continuous days:</b>
  <%= @project.continuous_days %>
</p>

<p>
  <b>Percent:</b>
  <%= @project.percent %>
</p>

<p>
  <b>Isbonus:</b>
  <%= @project.isbonus %>
</p>

この情報で間違いないでしょうか？
<%= form_tag({:controller=>"projects",:action=>"create"}, :onsubmit=>"return Validator.submit(this)") do %>
  <div class="actions">
    <%= button_to('登録', 'entry' ) %>
  </div>
<% end %>
