<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <img src="<%= @user.provider_image_url %>" alt="" width="" height="" border="" align="" />
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Continuous days:</b>
  <%= @project.continuous_days %>
</p>

<p>
  <b>Percent:</b>
  <%= @project.percent %>
</p>

<p>
  <b>Create at:</b>
  <%= @project.create_at %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
