<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <meta property="og:site_name" content="3week" />
  <meta property="fb:admins" content="<%=settings.facebook_admins %>" />
  <title>3week</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="contents">
		<div id="main-content">
			<% if current_user %>
				<h3><%= current_user.display_name %></h3>
				<ul>
					<li><img src="<%= current_user.image_url %>"/></li>
					<li><%= link_to "ログアウト" ,logout_path %></li>
				</ul>
				</script>
			<% else %>
				<div id="fb-root"></div> 
				 <script src="http://connect.facebook.net/en_US/all.js"></script>
				 <script> FB.init({ appId:'<%=settings.facebook_app_id %>', cookie:true, status:true, xfbml:true }); </script> 
				  <a href="/auth/facebook"> <fb:login-button>Login with Facebook</fb:login-button> </a>
				  <%= link_to "Twitterでlogin","/auth/twitter" %>
			<% end %>
			<%= yield %>
		</div>
	</div>
</body>
</html>
