<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <meta property="og:site_name" content="3week" />
  <meta property="fb:admins" content="<%=settings.facebook_admins %>" />
  <title>3week</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "validator" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "util" %>
  <%= javascript_include_tag "validator" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- common header-->
	<div id="common-header" class="common-header">
		<h1>3week</h1>
		<p id="siteDescription">変わるを応援する</p>
		<div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
	</div>

	<!-- main -->
	<div id="contents">
		<div id="main-content">
			<%= content_for?(:content) ? yield(:content) : yield %>
		</div>
		<!-- side bar-->
		<div id="side-content">
			<% if current_user %>
				<h3><%= current_user.display_name %></h3>
				<ul>
					<li><img src="<%= current_user.image_url %>"/></li>
					<li><%= link_to "ログアウト" ,logout_path %></li>
				</ul>
				</script>
			<% else %>
				<div id="fb-root"></div> 
				 <script src="http://connect.facebook.net/en_US/all.js"></script>
				 <script> FB.init({ appId:'<%=settings.facebook_app_id %>', cookie:true, status:true, xfbml:true }); </script> 
				 <a href="/auth/facebook"><fb:login-button>Login with Facebook</fb:login-button></a><br/>
				 <br />
				 <a href="/auth/twitter"><img src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-d.png" alt="Twitterでlogin" width="" height="" border="" align="" /></a>
			<% end %>
		</div>
	</div>

	<!-- common footer-->
	<div id="common-footer" class="common-footer">
		<ul>
			<li class="utilityHome"><a href="./">HOME</a></li>
			<li><a href="./">メッセージ</a></li>
			<li><a href="./">会社紹介</a></li>
			<li><a href="./">お問い合わせ</a></li>
			<li><a href="./">関連サイト</a></li>
		</ul>
		<p id="copyright">Copyright &copy; 2012 <a href="/">3week</a>. All rights reserved.</p>
	</div>
</body>
</html>
